
.image{
    margin-top: -10px;

    animation-name: imageAnimation;
    animation-duration: 1.5s;
}

.staticImage{
    margin-top: -10px;
}

@keyframes imageAnimation {
    from {margin-top: -900px;}
    to {margin-top: -10px;}
}

.mainDiv{
    padding: 190px;
    padding-top: 40px;
    


}



.outerFormPage {
    background-color: #1f2c3c80;
    width: 100%;
    height: 1000px; 
    margin-top: -700px;
    position: fixed;
    z-index: 4532544;
}
.formPage{
    width: 90%;
    height: 600px;
    background-color: white;
    position: fixed;

    margin-top: 100px;

    border-radius: 10px;

    z-index: 2000312654675465465465463;

   

    
}

.fontP{
    width: 600px;
}



.knowMore-btn{
    border: 3px solid #1F2C3C;
    color: #1F2C3C;

    padding: 7px 40px 7px 40px;

    border-radius: 5px;

    font-weight: 500;
    margin-left: 0px;
    margin-right: 5px;
    box-shadow: 1px 1px 1px 1px #1f2c3c5e;
    text-shadow: 1px 1px #1f2c3c85;

    animation-name: movingRight;
    animation-duration: 1.5s;

}


.hireMe-btn{
    background-color: #1F2C3C;
    border: 3px solid #1F2C3C;
    color: #AACDE7;

    padding: 7px 30px 7px 30px;

    border-radius: 5px;

    font-weight: 500;
    box-shadow: 1px 1px 1px 1px #1f2c3c5e;
    text-shadow: 1px 1px #1f2c3c5e;
    
}

.static-knowMore-btn{
    border: 3px solid #1F2C3C;
    color: #1F2C3C;

    padding: 7px 40px 7px 40px;

    border-radius: 5px;

    font-weight: 500;
    margin-left: 0px;
    margin-right: 5px;
    box-shadow: 1px 1px 1px 1px #1f2c3c5e;
    text-shadow: 1px 1px #1f2c3c85;



}

.static-hireMe-btn{
    background-color: #1F2C3C;
    border: 3px solid #1F2C3C;
    color: #AACDE7;

    padding: 7px 30px 7px 30px;

    border-radius: 5px;

    font-weight: 500;

    
}

.cv-btn{
    
    color: #B3D5EE;
    border-color: #B3D5EE;

    width: 200px;
    background-color: #1f2c3c00;

    border: 3px solid #B3D5EE;

  

    font-weight: 500;
    margin-left: 0px;
    

    animation-name: reversedFadingButton;
    animation-duration: 0.5s;

   

}

.cv-btn:hover{
    background-color: #B3D5EE;
    color: #1F2C3C;
    border-color: #B3D5EE;
    animation-name: fadingButton;
    animation-duration: 0.5s;

    border-radius: 3px;
   

}

.buttonDiv{
    border: 2px solid #B3D5EE;
    

}

.fade{
    animation-name: fade;
    animation-duration: 0.5s;


}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadingButton {
    from {background-color: #1f2c3c00;}
    to {background-color: #B3D5EE;}
}



@keyframes reversedFadingButton {
    from {background-color: #B3D5EE;}
    to {background-color: #1f2c3c00;}
}

.clickNe-btn{
    background-color: #ffffff;
    border: 3px solid #1F2C3C;
    color: #1F2C3C;

    padding: 7px 30px 7px 30px;

    border-radius: 5px;

    font-weight: 500;

    text-shadow: 1px 1px #1f2c3c5e;


}

.h2{
    text-shadow: 2px 2px 1px #1f2c3c39;
    color: #1F2C3C;

    animation-name: movingRight;
    animation-duration: 1.5s;
}

.h2-Static{
    text-shadow: 2px 2px 1px #1f2c3c39;
    color: #1F2C3C;

}

h3{
    text-shadow: 2px 2px 2px #1f2c3c39;

}

@keyframes movingRight {
    from {margin-left: -1000px;}
    to {margin-left: 0px;}
}

p{
    text-shadow: 1px 1px 1px #1f2c3c39;
}

.miniBox{
    box-shadow: 1px 1px 1px 1px #1f2c3c5e;

    
}

.line{
    height: 2px;
    width: 100%;
    background-color: #3D5574;
}

@media (max-width: 1024px) {
    .line{
        height: 2px;
        width: 80%;
    
    }
}


.projectSquare-div{
    width: 100%;
    height: fit-content;
    background-color: #B3D5EE;

    border-radius: 5px;
}

.onProjectSquare-div{
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    margin-top: 40px;


    border-radius: 5px;
}

.bigImage{
    width: 100%;
    object-fit: cover;
    height: 460px;

    border-radius: 5px;
}
.miniImage{
    width: 100%;
    object-fit: cover;
    height: 460px;

    border-radius: 5px;

   
}


.myWorkingProjects{
    background-color: rgba(0, 0, 0, 0.621);
    width: 99.4%;
    margin-bottom: 3px;
    border-radius: 0px 0px 5px 5px ;
    height: 200px;
    bottom: 0;
    position: absolute;
    z-index: 123123213;

    animation-name: animationApperace;
    animation-duration: 0.4s;

    
}

.seeDesign-btn{

    color: white;
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px 20px 5px 20px;
    font-weight: 500;

}

.seeCodes-btn{
    color: #1F2C3C;
    background-color: white;
    border-radius: 3px;
    padding: 5px 20px 5px 20px;
    font-weight: 500;

}

.fade-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0s ease, transform 1s ease;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
  }


@keyframes animationApperace {
    from {height: 40px;}
    to {height: 200px;}
}

@keyframes animationMobileApperace {
    from {height: 40px;}
    to {height: 600px;}
}

@media (max-width: 1024px) {
    .mainDiv{
        padding: 10px;
        padding-top: 40px;
    }
    .miniDiv{
        width: 100%;
    }
    .fontP{
        width: 100%;
    }
    .myWorkingProjects{
        height: 600px;
        animation-name: animationMobileApperace;
    }
}